h1 {
    text-align: center;
}

.light {
    display: flex;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding-left: 10px;
}

#retangle {
    width: 100px;
    height: 100px;
    
    background-color: brown;
}

#hidden {
    display: none;
}